body {
  background-color: #f5f5ff;
  max-width: 100%;
  overflow-x: hidden;
}

footer {
  position: fixed;
  color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  text-align: right;
}

.Main {
  text-align: center;
  justify-content: center;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  margin-left:25px;
}

h4 {
  margin-left:25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:10%;
}

.lowerCrane {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 73px;
  margin-top: 3px;
}

.crane {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: center;
  margin-top: 5%;
}

.craneBase {
  margin-left: 0px;
  width: 35px;
  height: auto;
}

.craneGrabber {
  width: 18px;
  height: auto;
  animation-name: craneRotation;
  animation-duration: 12s;
  transform-origin: -630%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.craneBody {
  width: 220px;
  height: auto;
  animation-name: craneRotation;
  animation-duration: 12s;
  animation-timing-function: linear;
  transform-origin: 33%;
  animation-iteration-count: infinite;
}

.box1 {
  width: 16px;
  height: auto;
  margin: 1px;
  align-self: flex-end;
}

.box2 {
  width: 16px;
  height: auto;
  margin: 1px;
  align-self: center;
  margin-left: -8px;
  margin-top: 2px;
  animation-name: boxMovement;
  animation-duration: 12s;
  animation-timing-function: linear;
  transform-origin: -715%;
  animation-iteration-count: infinite;
  
}

.boxGroup1 {
  flex: display;
  align-self: flex-end;
  margin-right: 83px;
}

.boxGroup2 {
  flex: display;
  align-self: center;
  margin-left: -8px;
}

.grabberBoxStack {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.dot1 {
  animation-name: dotLoading1;
  animation-duration: 4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  visibility: hidden;
  margin-left: 1px;
}

.dot2 {
  animation-name: dotLoading2;
  animation-duration: 4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  visibility: hidden;
  margin-left: 1px;
}

.dot3 {
  animation-name: dotLoading3;
  animation-duration: 4s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  visibility: hidden;
  margin-left: 1px;
}

.header {
  width: 101%;
  display: flex;
  background-color: #f5f5ff;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  right:0;
  left:0;
  top: 0;
  box-shadow: -3px 3px 3px #888888;
  z-index: 1;
}

.logo {
  height: 90px;
  width: auto;
  margin: 10px;
  margin-left: 3%;
  margin-right:-150px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 3%;
}
.offLinks {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -30px;
}

.emailLink {
  height: 15px;
  width: auto;
  color: black;
}

.localLinks {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -30px;
  white-space: nowrap
}

.gallery {
  margin:auto;
  width: 101.2%;
  height: auto;
  background: linear-gradient(to right, lightblue 0% 20%, orange 20% 40%, yellow 40% 60%, blue 60% 80%, purple 80% 100%);
  background-size: 500%, 100%;
  aspect-ratio: 245/72;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 123px;
  margin-left: -0.6%;

}

.galleryTrans {
  transition: 1s ease-out;
}


.galleryControl {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.2);
}

.message {
  color: white;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
}

.galleryBackButton {
  border: none;
  background-color: transparent;
  transition-duration: 0.4s;
  font-size: 36px;
  color: white;
  opacity: 0.5;
  margin-left: 3%;
}

.galleryBackButton:hover {
  font-size: 48px;
  opacity: 1;
  margin-right: -7px;
}

.galleryForwardButton {
  border: none;
  background-color: transparent;
  transition-duration: 0.4s;
  font-size: 36px;
  color: white;
  opacity: 0.5;
  margin-right: 3%;
}

.galleryForwardButton:hover {
  font-size: 48px;
  opacity: 1;
  margin-left: -7px;
}

.messageFade {
  animation: messageFade 1.0s ease-in-out, 1;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeDot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(93, 91, 91);
  display: flex;
  transition: 1s ease-out;
}

.radio {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: -10%;
  justify-content: space-between;
  width:40%
}

.about {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}

.aboutText {
  color: rgb(80,80,80);
  margin-top: -1%;
  text-align: justify;
  text-justify: inter-word;
  font-size: large;
}

.title {
  color: rgb(80,80,80);
}

.aboutEndLine {
  background-color: rgb(80,80,80) ;
  height: 2px;
  width: 110%;
}

.cardThing {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 230px;
  height: auto;
  margin-top: 2%;
}

.cardBrace {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  gap: 9%;
  flex-wrap: wrap;
  align-items: center;
}

.cardText {
  font-size: large;
}

.cardImg {
  height: 100px;
  width: auto;
}

.linkArrow {
  background-color: transparent;
  transition-duration: 0.4s;
  font-size: 28px;
  color: rgb(80,80,80);
}

.linkArrow:hover {
  background-color: #888888;
}

.linkText {
  white-space: nowrap
}

.grid {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  aspect-ratio: 5/2;
  flex-wrap: wrap;
}

.panel {
  width: 33%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 0.8s;

}

.panelBanner {
  background-color: rgb(80,80,80,0.5);
  border: none;
  color: white;
  display: flex;
  font-size: 24px;
  cursor: pointer;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  transition-duration: 1s;
}

.panelText {
  white-space: nowrap;
  margin-left: 10px;
  overflow: hidden;
}
.panelArrow {
  border: 2px solid rgb(255,255,255,0.6);;
  color: #f5f5ff;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.panel:hover {
  transform: scale(1.04);
}

.teamBrace {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teamItem {
  display: flex; 
  gap: 25px;
}

.teamImg {
  background-color: red;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.teamText {
  width: 255px;
  text-align: left;
}




@keyframes colourChange{
  0% {background: red;}
  50% {background: linear-gradient(90deg, red 50%, blue 50%);}
  100% {background: blue;}
  
}

@keyframes messageFade {
  0%   {opacity: 1}
  50%  {opacity: 0;}
  100%  {opacity: 1;}
}

@keyframes dotLoading1 {
  0%   {visibility: hidden;}
  25%  {visibility: visible;}
}

@keyframes dotLoading2 {
  0%   {visibility: hidden;}
  50%  {visibility: visible;}
}

@keyframes dotLoading3 {
  0%   {visibility: hidden;}
  75%  {visibility: visible;}
}


@keyframes craneRotation {
  0%   {transform: rotate3d(0,1,0,0deg);}
  30%  {transform: rotate3d(0,1,0,180deg);}
  50% {transform: rotate3d(0,1,0,180deg);}
  80% {transform: rotate3d(0,1,0,0deg);}
}

@keyframes boxMovement {
  0%   {transform: rotate3d(0,1,0,0deg);}
  30%  {transform: rotate3d(0,1,0,180deg);}
  50% {transform: rotate3d(0,1,0,180deg);}
  100% {transform: rotate3d(0,1,0,180deg);}
}
